<div class="container justify-content-center mt-5">
    <form class="col-sm-6 container justify-content-center" #Form="ngForm" (ngSubmit)="login()" >
        <!-- Email input -->
        <div class="form-outline mb-4" >
           <span class="row">
               <fa-icon [icon]="envelope"></fa-icon> 
               <input type="text" id="username" name ="username" [(ngModel)]="user.username" class="col-2 form-control" />
            </span> 
          
          
          <label class="form-label" for="username">Username</label>
        </div>
      
        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" id="password" class="form-control" name="password" [(ngModel)]="user.password"/>
          <label class="form-label"  for="password">Password</label>
        </div>
      
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary col-4">login</button>
      
        <!-- Register buttons -->
        <div class="text-center">
          <p>Not a member? <a routerLink="/signup">Register</a></p>
        </div>
    </form>
</div>
    