<table class="table table-striped" *ngIf="books && books.length > 0">
    <thead>
        <tr>
          <th>#</th>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
          <th scope="col">Publication Date</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books">
          <th scope="row">{{books.indexOf(book)+1 }}</th>
          <td>{{book.title}}</td>
          <td>{{book.author}}</td>
          <td>{{book.publicationDate}}</td>
        </tr>
</table>
<p *ngIf="books.length == 0">No books to show</p>
