<div class="container">
    <form #form = "ngForm" (ngSubmit)="addBook()">
        <div class="mb-3 col-6">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title"
          name="title" [(ngModel)]="addBookObj.title" placeholder="title">
        </div> 
        <div class="mb-3 col-6">
          <label for="author" class="form-label">Author</label>
          <input type="text" class="form-control" id="author"
          name="author" [(ngModel)]="addBookObj.author" placeholder="author">
        </div>
        <div class="mb-3 col-6">
            <label for="publication-date" class="form-label">Publication date</label>
            <input type="date" class="form-control" id="publication-date"
            name="publication-date" [(ngModel)]="addBookObj.publicationDate">
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
